# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.py[cod]
*.so

# Local virtualenv
ItemProject/

# Docker
*.log
*.pid
*.seed
*.cover
*.pb.go
*.pb.gw.go
*.json
*.idea

# Django static files
staticfiles/
media/

# Node modules
frontend/node_modules/

